.totalusers-container {
  top: 129px;
  left: 508px;
  width: 327px;
  height: 133px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #DBDBDB;
  border-radius: 20px;
  opacity: 1;
  text-size: 24
}